@tailwind base;
@tailwind components;
/* Due to cascade, we will add component classes here 
by using the tailwind apply method*/
/* .btn {
    @apply inline-block;
} */

.block-container h2 {
    padding-top:1.25rem;
    padding-bottom:1.25rem;
    font-size:medium;
    font-weight:500;
}

@tailwind utilities;

